body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#inicial {
    text-align: center;
}

#palabra {
    font-size: 24px;
    margin-bottom: 10px;
}

#Ahorcado {
    background: url('../imagenes/hangman/hangman_1.png') no-repeat center;
    background-size: contain;
    height: 200px;
    margin-bottom: 10px;
}

#letras_dichas {
    margin-top: 10px;
}

#mensaje {
    font-size: 18px;
    font-weight: bold;
    color: green;
}
