/* Estilo del contenedor principal del juego */

.snake-background {
  position: fixed; /* Fija el fondo para que cubra toda la pantalla */
  top: 0;
  left: 0;
  width: 100vw; /* Ancho total de la ventana */
  height: 100vh; /* Altura total de la ventana */
  background-image: url('/src/imagenes/snake/imagen1.png');
  background-size: cover;
  background-position: center;
  z-index: -1; /* Asegura que el fondo quede detrás de todo lo demás */
}

.game-container {
  text-align: center;
}

/* Estilo del tablero del juego */
.game-board {
  position: relative;
  margin: 0 auto; /* Centra el tablero */
  border: 2px solid black; /* Borde más grueso y visible */
  background-color: rgba(255, 255, 255, 0.5);
}

/* Estilos generales para segmentos de la serpiente y la comida */
.game-piece {
  position: absolute;
  box-sizing: border-box;
}

/* Estilo específico para la cabeza de la serpiente */
.snake-head {
  background-color: green;
}

/* Estilo específico para el cuerpo de la serpiente */
.snake-body {
  background-color: black;
}

/* Estilo para la comida */
.food {
  background-color: red;
}

.reiniciar-btn {
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Relleno alrededor del texto */
  margin: 10px 0; /* Margen alrededor del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor en forma de mano al pasar sobre el botón */
  font-size: 16px; /* Tamaño del texto */
}

.reiniciar-btn:hover {
  background-color: #45a049; /* Color de fondo al pasar el mouse */
}

button.home-btn {
  background-color: #3498db; 
  color: #fff; 
  padding: 10px 15px; 
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px; 
}

button.home-btn:hover {
  background-color: #2980b9;
}  

